*{margin: 0%}

nav {height: 50%; background-color: gray; display: flex; justify-content: space-between; align-items: center}

.text {color: blue;}
.navigationPanel {color: black; justify-content: space-between;}
.iphone {text-decoration: none;}
.items {color: white; margin: 0px 5px 0px 5px;padding: 5px; text-decoration: none;justify-content: space-between; justify-items: center;}
.items :hover{background-color: white;color: gray;}
.items {margin-right: 50px;}
.shop {color: blue; justify-items: center; justify-content: space-around;}
.store {color: blue;}
.learn {color: blue;}
.topText {display: flex; flex-direction: column; justify-content: center;align-items: center;}
.learnMore {color: blue;}

/*this is for images*/

.iPhone13pro {width: 250px; height: 250px; display: flex;margin: auto; justify-content: space-evenly;}
.iPhone13pro div{width: 29%; height:150px}
.iPhone13pro img{width: 100%;height: 100%; object-fit: cover;}


.iPhone13Sales {background-image: url(./IMG/Index/iphone-13.jpg); background-size: cover;width: 1000px;height: 300px;display: flex;margin: auto; justify-content: space-evenly;}
.iPhone13Sales div{width: 29%; height:150px}
.iPhone13 {justify-items: center;}
.learnMore {justify-items: center;}
.yournewsuper {justify-items: center;}

.watch{background-image: url(./IMG/Index/watch.jpg); background-size: cover;width: 1000px;height: 300px;display: flex;margin: auto; justify-content: space-evenly;}